{% extends "base_site_public.html" %}

{% block content %}

{% if form.errors %}
<p>El usuario o contraseña está incorrecto. Intenta de nuevo.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Tu cuenta no tiene acceso a esta página. Para proceder,
    por favor entra las credenciales de una cuenta que sí tenga
    los accesos requeridos.</p>
    {% else %}
    <p>Por favor entra tus credenciales para ver esta página.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
        <tr>
            <td><strong>Correo:</strong></td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
    </table>

    <input type="submit" value="Entrar" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>

<p><a href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a></p>
<p><a href="{% url 'registros:nuevo-miembro' %}">Regístrate</a></p>

{% endblock %}
