{% extends 'base_site_public.html' %}

{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'registros:index' %}">Legendarios</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'registros:eventos' %}">Eventos</a></li>
                <li><a href="{% url 'registros:miembros' %}">Miembros</a></li>
                <li><a href="{% url 'registros:legados' %}">Legados</a></li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}
