{% extends 'base_site.html' %}

{% block content %}
<h1>{{ miembro }}</h1>

{% if user.miembro == miembro %}
<a class="btn btn-primary">Edit</a>
{% endif %}

{% if miembro.foto %}
<img class="foto-miembro" src="{{ miembro.foto.url }}" />
{% endif %}
<hr>

<ul>
    <li><strong>Fecha de nacimiento:</strong> {{ miembro.fecha_de_nacimiento|default_if_none:"---" }}</li>
    <li><strong>Correo electrónico:</strong> {{ miembro.correo }}</li>
    <li><strong>Teléfono:</strong> {{ miembro.telefono|default:"---" }}</li>
    <li><strong>Tipo de Sangre:</strong> {{ miembro.tipo_de_sangre|default:"---" }}</li>
    <li><strong>Estado Civíl:</strong> {{ miembro.estado_civil|default:"---" }}</li>
    <li><strong>País:</strong> {{ miembro.pais|default:"---" }}</li>
    <li><strong>Número de Legendario:</strong> {{ miembro.numero_de_legendario|default_if_none:"---" }}</li>
    <li><strong>Testimonio:</strong> {{ miembro.testimonio|default:"---" }}</li>
    <li><strong>Estatus:</strong> {{ miembro.estatus }}</li>
</ul>
<hr>

<h4>Badges</h4>
{% if miembro.participacion_set.count > 0 %}
<ul>
    {% for participacion in miembro.participacion_set.all %}
    <li><img class="foto-badge" src="{{ participacion.evento.badge.url }}" /></li>
    {% endfor %}
</ul>
{% else %}
<p>No has obtenido ningún badge.</p>
{% endif %}
<hr>

<h4>Eventos atendidos</h4>
{% if miembro.participacion_set.count > 0 %}
<ul>
    {% for participacion in miembro.participacion_set.all %}
    <li><strong>{{ participacion.evento }}:</strong> {{ participacion.rol }}</li>
    {% endfor %}
</ul>
{% else %}
<p>No has participado en eventos.</p>
{% endif %}
{% endblock %}
